body{
margin: 0;
padding: 0;
font-family: Georgia, 'Times New Roman', Times, serif;
background-image: url(../img/fundo.png);
background-size: 900px;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
}

.container {
width: 100%;  
max-width: 500px;
padding: 10px;
display: flex;
align-items: center;
justify-content: center;
}

.cadastro-form{
width: 100%;
padding: 20px;
background-color: rgba(249, 88, 235, 0.979);
border-radius: 10px;
text-align: center;
align-items: center;
}

.cadastro-form input[type="text"],
.cadastro-form input[type="email"],
.cadastro-form input[type="tel"],
.cadastro-form input[type="password"] {
    width: 80%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px    solid #ccc;
    font-size: 1rem;
}

.cadastro-form button {
    padding: 12px 25px;
    background-color: rgba(8, 82, 194, 0.918);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

fieldset {
    border: 4px solid rgba(8, 82, 194, 0.918);
    padding: -5px;
    border-radius: 10px;
}

select {
    width: 80%;
    padding: 12px 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 15px;
    font-size: 1rem;
}

label {
    margin-right: 9px;
    font-size: 15px;
    margin-bottom: 8px;
    letter-spacing: -1px;
    font-size: 1rem;
    font-weight: bold;
}

*{box-sizing: border-box;}

@media (max-width:1600px) {
    .container{
        width: 100%;
        padding: 20px;
    }
body{
    background-size: 1000px;
}
}

@media (max-width:600px) {
    .container{
        width: 100%;
        min-height: 70vh;
        padding: 10px;
    }


.login-form h1,
.cadastro-form h2 {
    font-size: 1.5rem;
}

.cadastro-form input,
.cadastro-form button,
.login-form input,
.login-form button,
.select {
width: 100%;
margin-bottom: 4px;
}

label.radio-label {
display: block;
margin-bottom: 8px;
}

@media (max-width:480px) {
    .container{
        width: 100%;
        padding: 10px;    
}

h2 {font-size: 1.1rem;
}

.cadastro-form input,
.cadastro-form button,
.login-form input,
.login-form button{
    font-size: 0.9;
    padding: 8px;
}

.login-form input,
.cadastro-form button{
font-size: 0.9rem;
padding: 8px;
}
}
}

@media (min-width:800px) and (max-width:1680px){
.container {
    width: 100%;
    padding: 10px;
}
h1,h2 {
font-size: 1.8rem;
}
.cadastro-form input,
.cadastro-form button,
.login-form input,
.login-form button
.select{
    width: 100%;
    margin-bottom: 10px;
}
}





